/* Add this CSS to your existing stylesheet */

.nav-link {
    position: relative;
    display: inline-block;
    padding: 0.5rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background: #228B22; /* Change this color to your preferred underline color */
    transition: width 0.3s;
    bottom: -4px;
    left: 0;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  
  .nav-link:hover {
    color: #228B22; /* Change this color to your preferred hover text color */
  }
  